body {
  background-color: $background;
  color: $secondry;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: $half_gray
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

