.feeds{
    padding: 16px;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            font-weight: bold;
            margin-bottom: 0;
        }
        .sort-by{
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                li{
                    button{
                        border: unset;
                        background-color: transparent;
                        margin: 0 16px;
                        text-transform: capitalize;
                        color: $half;
                        font-weight: bold;
                        &.active{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}