.feeds{
    padding: 16px;
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            font-weight: bold;
            margin-bottom: 0;
        }
        .sort-by{
            ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 0;
                margin: 0;
                li{
                    button{
                        border: unset;
                        background-color: transparent;
                        margin: 0 16px;
                        text-transform: capitalize;
                        color: $half;
                        font-weight: bold;
                        &.active{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    .feeds-box{
        margin-top: 20px;
        max-height: calc(100vh - 250px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 16px;
        .feed{
            margin: 16px auto;
            .img-box{
                height: 250px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    border: 5px solid $white;
                    object-fit: cover;
                }
            }
            .feed-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 16px auto;
                .feed-account{
                    display: flex;
                    align-items: center;
                    .avatar{
                        img{
                            width: 30px ;
                            height: 30px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                    h5{
                        text-transform: capitalize;
                        margin-left: 16px;
                        margin-bottom: 0;
                    }
                }
            }
            &:first-of-type{
                margin: 5px auto;
            }
        }
        .actions{
            button{
                border: unset;
                background-color: transparent;
                font-size: 18px;
                color: $half;   
                svg{
                    margin: 0 10px;
                    path{
                        fill: $half;
                    }
                }
                &.active{
                    svg{
                        path{
                            fill:$error
                        }
                    }
                }
                &.like{
                    &:hover{
                        svg{
                            path{
                                fill: $error;
                            }
                        }
                    }
                }
                
            
            }
        }
        &::-webkit-scrollbar {
            width: 7px;
          }
        
          &::-webkit-scrollbar-thumb {
            background: $half_gray;
            border-radius: 5px;

          }
        
          &::-webkit-scrollbar-thumb:hover {
            background: $primary;
          }
    }
}