.side-bar{
    background-color: $white;
    padding: 16px;
    height: 100vh;
    .logo-box{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 5px;
            box-shadow: 0px 2px 16px $half_gray;
        }
        span{
            color: $primary;
            font-size: 22px;
            font-weight: bold;
            margin: 0 10px;
        }
    }
    .links-box{
        padding-left: 16px;
        h4{
            font-weight:bold;
        }
        .sidebar-list{
            margin-top: 30px;
            .iconTabs{
                display: flex;
                align-items: center;
                margin: 20px auto;
                a{
                    text-decoration: unset;
                    color: $half;
                    width: 100%;
                    padding: 7px;
                    svg{
                        margin-right:25px;
                        path{
                            fill: $half;
                        }
                    }
                  &.active{
                    box-shadow: -1px 7px 17px $light;
                    border-radius: 5px;
                    svg{
                        path{
                            fill: $primary;
                        }
                    }
                  }  
                }
            }
        }
    }
}